<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="image-container">
                <div class="image-animation"></div>
            </div>
            <a href="/parta"><button class="Btn">Part A</button></a>
            <a href="/partb"><button class="Btn">Part B</button></a>
        </div>
    </div>
</body>
</html>
